.grid-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.grid-container a , .cartbadge{
    padding-left: 140px;
    text-decoration: none;
    color: rgb(28, 25, 25);
    font-weight: 700;
}
